.leftNavContainer {
  border-right: 2px solid #f9f5f5;
  width: 17%;
  height: 89.7vh;
}

/* .leftNav {
  border: 2px solid red;
} */

.leftNavItems {
  padding: 11px 0px 11px 30px;
  gap: 7px;
  cursor: pointer;
  font-family: 'Francois One';
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  background-color: #edf6fc;
  display: flex;
  align-items: center;
  border-radius: 8px;
  margin: 2px 6px 0px 6px;
}
