.SignupForm {
  /* border: 2px solid red; */
  margin: 7px 0px;
}

.SignupForm > div > input {
  width: 100%;
  padding: 11px 5px;
  margin: 3px 0px;
  border-radius: 8px;
  border: 1px solid #cb9898;
}

.SignupForm > div > button {
  width: 100%;
  padding: 11px 5px;
  margin: 3px 0px;
  border-radius: 8px;
  background-color: black;
  border: none;
  color: white;
  font-weight: 600;
  font-size: 13px;
  cursor: pointer;
}
